Source: fakevnc
Section: net
Priority: extra
Maintainer: Justin Azoff <JAzoff@uamail.albany.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://github.com/JustinAzoff/fakevnc
XS-Vcs-Git: git://github.com/JustinAzoff/fakevnc.git 
XS-Vcs-Browser: http://github.com/JustinAzoff/fakevnc
XS-Python-Version: 2.5


Package: fakevnc
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, python, python-twisted-core, adduser
Description: fake VNC server
 fakevnc is a fake VNC server to be used as part of a honeypot
